.modal-wrapper {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 50;

    top: 0;
    left: 0;
}

form.invoice-creator {
    width: 720px;
    min-height: 100vh;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 100;

    position: relative;

    border-radius: 0px 20px 20px 0px;
    overflow-x: scroll;
    
}

.invoice-creator--dark {
    background: #141625;
}

.invoice-creator--light {
    background: #FFFFFF;
}

.invoice-creator__inner {
    box-sizing: border-box;
    padding: 56px 56px 0px 156px;

}

[class*="creation-form__grid-"]:not(:last-child) {
    margin-bottom: 48px;
}

[class*="creation-form__grid-"] {
    width: 100%;
    display: grid;
    grid-column-gap: 24px;
}

.creation-form__grid-2 {
    grid-template-columns: repeat(2, 1fr);
}

.creation-form__grid-3 {
    grid-template-columns: repeat(3, 1fr);
}

[class*="creation-form__grid-"] > div:not(:first-child) {
    margin-top: 24px;
}

.creation-form__items {
    max-width: 508px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    column-gap: 16px;
}

.creation-form__items:not(:last-child) {
    margin-bottom: 16px;
}

.create-form__cell-center {
    display: flex;
    align-items: center;
    grid-column: 8/10;
    justify-content: space-between;
}

.create-form__cell-center p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 76.5px;
}

.create-form__delete {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.creation-form__buttons {
    position: sticky;
    width: 100%;
    bottom: 0;
    left: 0;
    gap: 8px;
    display: flex;

    z-index: 201;
    
    border-radius: 0px 20px 0px 0px;
    box-sizing: border-box;
    padding: 31px 56px 31px 156px;
    margin-top: 40px;
    
    -webkit-box-shadow: 1px -4px 99px 38px rgba(34, 60, 80, 0.1);
    -moz-box-shadow: 1px -4px 99px 38px rgba(34, 60, 80, 0.1);
    box-shadow: 1px -4px 99px 38px rgba(34, 60, 80, 0.1);
}

.creation-form__buttons--light {
    background: #FFFFFF;
}

.creation-form__buttons--dark {
    background: #141625;
}

.creation-form__buttons {
    justify-content: flex-end;
}

.form-list__item-name {
    grid-column: 1/5;
}

.form-list__quantity {
    grid-column: 6/8;
}

.form-list__total {
    grid-column: 8/10;
}