.dropdowns {
    align-self: flex-start;
    position: absolute;
    width: 100%;

    padding: 0 20px 20px 20px;
    box-sizing: border-box;

    background: #fff;
    box-shadow: 0px 10px 20px rgba(72, 84, 159, 0.25);
    border-radius: 8px;
    transition: .5s;
    z-index: 200;
}

.calendar__body {
    gap: 12px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.calendar__item {
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.calendar__item--transparent {
    opacity: .5;
}

.calendar__item--today {
    color: #7C5DFA;
}

.calendar__item--picked {
    opacity: .5;
    color: #7C5DFA;
}

.calendar__controls {
    width: 100%;
    padding: 26px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.calendar__controls img {
    width: 10px;
    cursor: pointer;
}

.calendar__controls img[alt="arrowRight"] {
    rotate: 180deg;
}

.field__input--focused {
    border: 1px solid #9277FF;
    outline: 0px solid #9277FF;
}