nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 100px;
    height: 100vh;

    position: fixed;
    top: 0;
    left: 0;

    border-radius: 0px 20px 20px 0px;
    
    z-index: 150;
}

.nav--light {
    background: #373B53;
}

.nav--dark {
    background: #1E2139;
}

.nav__grow {
    flex-grow: 1;
}

.nav__logo {
    width: 100%;
    justify-self: flex-start;
}

.nav__dark-light-icon {
    width: 20px;
}

.nav__avatar {
    width: 40px;
    height: 40px;

    border-radius: 50%;
    overflow: hidden;    
    margin-bottom: 24px;
}

.nav__avatar img {
    width: 100%;
    height: 100%;
}

nav hr {
    color: #494E6E;
    width: 100%;
    height: 2px;
    border: 1px solid #494E6E;
    margin: 24px 0;
}

.nav__light-theme {
    width: 10px;
    height: 10px;
    background: #858BB2;
    border-radius: 50%;
    margin-bottom: 4px;
}