.field {
    display: inline-block;
    position: relative;
}

.field--full-w {
    grid-column: 1/4;
}

.field__label {
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    margin-bottom: 8px;

    color: #7E88C3;
    
    letter-spacing: -0.1px;
    
}

.field__label--light {
    color: #7E88C3;
}

.field__label--dark {
    color: #DFE3FA;
}

.field__input {
    width: 100%;
    box-sizing: border-box;
    align-self: flex-start;
    border-radius: 4px;
    display: inline-block;
    position: relative;
    
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 15px;
    letter-spacing: -0.25px;
    
    
    outline: 0px solid black;
    
    padding: 12px 20px;
    
    transition: all 2ms;
}

.field__input--light {
    border: 1px solid #DFE3FA;
    
    background: #FFFFFF;
    color: #0C0E16;
}

.field__input--dark {
    border: 1px solid #252945;
    
    background: #1E2139;
    color: #FFFFFF;
}

.field__input:focus {
    border: 1px solid #9277FF;
    outline: 0px solid #9277FF;
}   

.field__input img {
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -9px;
}

.dropdown {
    align-self: flex-start;
    position: absolute;
    width: 100%;
    bottom: -150px;

    border-radius: 8px;
    transition: .5s;
    z-index: 100;
}

.dropdown--light {
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(72, 84, 159, 0.25);
}

.dropdown--dark {
    background: #252945;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
}

.dropdown__item {
    padding: 16px 24px;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 15px;

    letter-spacing: -0.25px;
    cursor: pointer;
}

.dropdown__item--light {
    color: #0C0E16;
}

.dropdown__item--light:not(:last-child) {
    border-bottom: 1px solid #DFE3FA;
}

.dropdown__item--dark {
    color: #DFE3FA;
}

.dropdown__item--dark:not(:last-child) {
    border-bottom: 1px solid #1E2139;
}