@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap');

*:not(table, tr, td) {
  transition: background 0.5s ease;
}

*:not(body) {
  font-family: 'League Spartan', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background-color: #F8F8FB;
  padding: 0;
  margin: 0;
}

.wrapper {
  display: flex;
  justify-content: center;

  width: 100vw;
  min-height: 100vh;
  box-sizing: border-box;

  padding-left: 100px;
}

.wrapper--dark {
  background: #141625;
}

.invoice-creator::-webkit-scrollbar {
  width: 0;
  display: none;
}

.invoice-creator {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}